<div>
  <div>
    <h1>
      Let's fill our stomach!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/get_recipe" method="post">
      <div>
        <label for="name_box">
          What do you want to eat?
        </label>

        <input type="text" id="name_box" name="dish">
      </div>

      <div>
        <label for="course">
          Choose a course
        </label>
        <select id="course" name="course">
        <option value="" disabled selected></option>
        <% @courses.each do |a_course| %>
          <option value ="<%= a_course.id%>"><%= a_course.name%></option>
        <%end%>

        </select>
      </div>

     
      <div>
        <label for="cuisine_box">
          Choose a cuisine
        </label>
        <select id="cuisine" name="cuisine">
        <option value="" disabled selected></option>
        <% @cuisines.each do |a_cuisine| %>
          <option value ="<%= a_cuisine.id%>"><%= a_cuisine.name%></option>
        <%end%>

        </select>
      </div>

        

      <button>
        Let's cook!
      </button>
    </form>
  </div>
</div>

<hr>
