<figure class="text-center">
  <blockquote class="blockquote">
    <p>Good things come to those who wait. But, legends dont wait. Coming soon!</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    GVK
  </figcaption>
</figure>


