<main class="hero d-flex align-items-center justify-content-center text-center">
  <div class="overlay"></div>


<figure class="text-center">
  <blockquote class="blockquote">
    <p>Good things come to those who wait. But, legends dont wait. Coming soon!</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    GVK
  </figcaption>
</figure>
