  <hr>
  <form action="/insert_review" method="post">
      
      <input type="hidden" name="recipe_id" value="<%=@the_recipe_id%>">
      
      
      
      <div>
        <label for="rating_box">
          What is your rating on scale of 1-5?
        </label>

        <input type="integer" id="rating_box" name="rating">
      </div>

      <div>
        <label for="feedback_box">
          Any other feedback?
        </label>

        <input type="text" id="feedback_box" name="feedback">
      </div>

      
      <div>
        <input type="checkbox" id="repeat_box" name="repeat" value="1">

        <label for="repeat_box">Do you want to re-use the same recipe later?</label>
      </div>

      <button>
        Share feedback
      </button>
    </form>


<hr>
